@config "../tailwind.config.js";
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: #07090F;
  color: #ffffff;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}